* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    /*background-color: black;*/
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 39%, rgba(255,255,13,1) 64%);
}

.home-cabeçalho{
    background-color: #ffff0d;
}