* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    /*background-color: black;*/
    background: rgb(2,0,36);
}

.home-cabeçalho{
    background-color: #ffff0d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.home-cabeçalho-img{
    max-width:20px;
    max-height:15px;
}